<link rel="stylesheet" href="/stylesheets/partials.css" />

<!-- views/partials/_navbar.ejs -->

<nav>
    <% if(user) { %>
      <div class="navbar">
        <h1 id="nav-header"><a href="/">Project Base</a></h1>
        <div class="nav-links">
          <a class="authlink" href="/users/<%=user._id%>/projects">Your Apps</a>
          <a class="authlink" href="/auth/sign-out">Sign Out</a>
        </div>
      </div>
    <% } else { %>
      <div class="navbar">
        <h1 id="nav-header">Project Base</h1>
        <div class="nav-links">
          <a class="authlink" href="/auth/sign-in">Sign In</a>
          <a class="authlink" href="/auth/sign-up">Sign Up</a>
        </div>
      </div>
    <% } %>
  </nav>
  